<div class='map-content'>
	<script type='text/javascript'>
	    window.municipios = <%- JSON.stringify(municipios) %>;
	    window.entidades = <%- JSON.stringify(entidades) %>;
	    window.selectedEntidad = <%- JSON.stringify(selectedEntidad) %>;
	    window.selectedMunicipio = <%- JSON.stringify(selectedMunicipio) %>;
	    window.isScrollable = <%- JSON.stringify(isScrollable) %>;
	</script>
	<div class='sidebar' ng-show="toggleSidebar">
		<ul class="gas-icons">
			<li class="animate-bg"><p>Gasolineras con semaforo verde</p></li>
			<li class="animate-bg"><p>Gasolineras con semaforo amarillo</p></li>
			<li class="animate-bg"><p>Gasolineras con semaforo rojo</p></li>
			<li class="animate-bg"><p>Gasolineras no evaluadas por PROFECO</p></li>
		</ul>
	</div>
	<div class="gas-numbers">
		<div class="gas-numbers-container">
			<div class="arrow" ng-class="{right: toggleGasBox, left: !toggleGasBox}"><a href="#" ng-click="toggleGasBox = !toggleGasBox"></a></div>

			<div class="box animated" ng-show="toggleGasBox">
				<h4 >{{gasSummary()}}</h4>
				<ul>
					<li class="pin-gray"><strong >{{gasStats.VERDE}}</strong> con semaforo verde</li>
					<li class="pin-yellow"><strong>{{gasStats.AMARILLO}}</strong> con semaforo amarillo</li>
					<li class="pin-red"><strong>{{gasStats.ROJO}}</strong> con semaforo rojo</li>
					<li class="pin-gray"><strong>{{gasStats.GRAY}}</strong> sin verificacion</li>
				</ul>
			</div>
		</div>
	</div>
	<leaflet bounds='bounds' center='mapCenter' ng-class='mapClass' class='map' layers="layers" markers='markers' defaults='options' ></leaflet>
</div>